page-checklist {

  ion-item-sliding {
    margin: 5px;
  }

  ion-checkbox {
    font-size: 0.9em;
    font-weight: bold;
    color: #282828;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    border: none !important;
  }

  ion-item-content {
    border: none !important;
  }

  ion-checkbox {
    border-bottom: none !important;
  }

  ion-checkbox .item-inner {
    border-bottom: none !important;
  }

  ion-item ion-label[text-right] {
    color: darkgrey;
  }

  ion-item-sliding .item {
    background-color: #51edc2;
    border-bottom-left-radius: 10px;
  }

  ion-item-sliding {
    background-color: #c9ed66 !important;
  }

  ion-checkbox .checkbox-icon {
    border-color: #7ca7ff !important;
    background-color: #58D2E8 !important;
  }

}
