page-home {

  ion-item-sliding {
    margin: 5px;
  }

  [ion-item] {
    font-size: 1.2em;
    font-weight: bold;
    color: #181818;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  [ion-item] span {
    display: block;
    color: #B8F788;
    font-weight: 400;
    margin-top: 10px;
  }

  button.item {
    background-color: #58D2E8;
  }

}
