<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
      <button color="grey" ion-button icon-only (click)="cancelModal()">Cancel</button>
    </ion-buttons>
    <ion-buttons left [hidden]="currentModal != 'ForgetPassword'">
      <button color="grey" ion-button icon-only (click)="currentModal = 'LogIn'">
        <ion-icon name="md-arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="user">
  <!-- log in -->
  <div [hidden]="currentModal != 'LogIn'" [@fadeAnimation]="currentModal != 'LogIn'?'hide':'show'">
    <div padding-bottom></div>
    <h3 class="text-center">Log In</h3>

    <form [formGroup]="logInForm" (ngSubmit)="logInHandler(logInForm)">
      <ion-list>
        <!--ion-item>
          <ion-label primary>Phone</ion-label>
          <ion-input [(ngModel)]="logInModel.phone" name="phone" type="number" required ngModel pattern="[0-9]{11}"></ion-input>
        </ion-item-->
        <ion-item>
          <ion-label primary>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label primary>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-list>

      <div class="session-bottom">
        <button color="grey" ion-button dark clear small type="button" (click)="currentModal = 'ForgetPassword'">Forget
          Password?
        </button>

        <div class="pull-right">
          <button color="grey" ion-button dark clear small (click)="currentModal = 'SignUp'" type="button">SignUp
          </button>
        </div>
      </div>

      <div padding-left padding-right>
        <button color="grey" ion-button block [disabled]="!logInForm.valid" type="submit">Log In</button>
      </div>

      <!--div *ngIf="heyApp.authService.isWeChatBrowser()" padding-left padding-right>
        <button (click)="gotoWeChatOAuthPage()" color="light" ion-button block>{{ 'user.WeChat To Log In'  }}</button>
      </div>

      <div *ngIf="hasWeChatApp" padding-left padding-right>
        <button (click)="loginWithWeChatApp()" color="light" ion-button block>{{ 'user.WeChat To Log In'  }}</button>
      </div-->
    </form>
  </div>


  <!-- sign up -->
  <div [hidden]="currentModal != 'SignUp'" [@fadeAnimation]="currentModal != 'SignUp'?'hide':'show'">
    <div padding-bottom></div>
    <h3 class="text-center">Sign Up</h3>

    <form [formGroup]="signUpForm" (ngSubmit)="signUpHandler(signUpForm)">
      <ion-list>

        <ion-item>
          <ion-label primary>Firstname</ion-label>
          <ion-input type="text" formControlName="firstName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label primary>Lastname</ion-label>
          <ion-input type="text" formControlName="lastName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label primary>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label primary>Phone</ion-label>
          <ion-input type="number" formControlName="phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label primary>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label primary>confirmPassword</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>

      </ion-list>

      <div class="session-bottom">
        <button (click)="openTermsPage()" color="grey" ion-button clear small type="button">
          Agree User Agreement
        </button>

        <div class="pull-right">
          <button color="grey" ion-button dark clear small (click)="currentModal = 'LogIn'" type="button">Log In
          </button>
        </div>
      </div>

      <div padding-left padding-right>
        <button color="grey" ion-button block [disabled]="!signUpForm.valid" type="submit">Sign Up</button>
      </div>

      <!--div *ngIf="heyApp.authService.isWeChatBrowser()" padding-left padding-right>
        <button (click)="gotoWeChatOAuthPage()" color="light" ion-button block>WeChat To Log In</button>
      </div>

      <div *ngIf="hasWeChatApp" padding-left padding-right>
        <button (click)="loginWithWeChatApp()" color="light" ion-button block>WeChat To Log In</button>
      </div-->
    </form>
  </div>
  <!-- forget password -->
  <div [hidden]="currentModal != 'ForgetPassword'" [@fadeAnimation]="currentModal != 'ForgetPassword'?'hide':'show'">
    <div padding-bottom></div>
    <h3 class="text-center">Forget Password</h3>

    <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPasswordHandler(forgetPasswordForm)">
      <ion-list>

        <ion-item>
          <ion-input placeholder="Your registered email address" type="email" formControlName="email"></ion-input>
        </ion-item>

      </ion-list>

      <div padding-left padding-right>
        <button color="grey" ion-button block [disabled]="!forgetPasswordForm.valid" type="submit">Send</button>
      </div>

      <!--div *ngIf="heyApp.authService.isWeChatBrowser()" padding-left padding-right>
        <button (click)="gotoWeChatOAuthPage()" color="light" ion-button block>WeChat To Log In</button>
      </div>

      <div *ngIf="hasWeChatApp" padding-left padding-right>
        <button (click)="loginWithWeChatApp()" color="light" ion-button block>WeChat To Log In</button>
      </div-->
    </form>
  </div>
  <div [hidden]="currentModal != 'Authed'" [@fadeAnimation]="currentModal != 'Authed'?'hide':'show'">
    <div padding-bottom></div>
    <h3 class="text-center">User Actions</h3>

    <div padding-left padding-right>
      <button color="grey" ion-button block (click)="upload2Cloud()">
        <ion-icon name="ios-cloud-upload-outline"> Upload</ion-icon>
      </button>
    </div>

    <div padding-left padding-right>
      <button color="grey" ion-button block (click)="download4Cloud()">
        <ion-icon name="ios-cloud-download-outline"> Download</ion-icon>
      </button>
    </div>

    <div padding-left padding-right>
      <button color="grey" ion-button block (click)="logoutHandler()">
        <ion-icon name="md-log-out"> Log out</ion-icon>
      </button>
    </div>

  </div>
</ion-content>
