page-authenticate {
  ion-item {
    background-color: #bbe49b !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
  }
}
